@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    background: radial-gradient(circle at 3% 25%, rgba(21, 26, 83, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
@layer utilities {
    .bg-clip-text {
      -webkit-background-clip: text;
      background-clip: text;
    }
  }  